name: Waka Readme

on:
  workflow_dispatch:
  schedule:
   # Runs at 24 hour intervals
    - cron: '0 */24 * * *'
  
  
jobs:
  update-readme:
    name: Update Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master 
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_PROJECTS: "False"
          SHOW_LINES_OF_CODE: "False"
          SHOW_TOTAL_CODE_TIME: "False"
          SHOW_LOC_CHART: "False"
          LOCALE: "en"
          COMMIT_MESSAGE: "Update Metrics"
          SHOW_DAYS_OF_WEEK: "True"
          SHOW_TIMEZONE: "False"
          SHOW_SHORT_INFO: "False"
          SHOW_UPDATED_DATE: "False"
          SHOW_PROFILE_VIEWS: "False"
